img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
}

body {
    background: #225ac3;
    background: linear-gradient(0deg, rgba(34, 90, 195, 1) 0%, rgb(45, 83, 253) 100%);
    font-family: 'Trebuchet MS';
    color: white;
    text-align: center;
}

a {
    background-color: white;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    display: block;
    text-align: center;
    margin: 10px;
    color: slateblue;
    margin: 10px;
}